.red{
    background-color: hsla(1, 100%, 55%, 0.53);
}

.green{
    background-color: hsla(121, 100%, 55%, 0.53);
}
table.limited-table td{
    padding: 10px;
}
table.limited-table{
    border-radius: 5px;
}
table.limited-table tr:not(:last-child){
    border-bottom: solid 2px black;
}

input.small{
    max-width: 80px;
}

.bottomMarg{
    margin-bottom: 10px;
}

div.otherFight{
    display: none;
}
ul.nav.navbar-nav{
	cursor: pointer;
}
ul.nav.navButtons li:hover{
	background-color: #E7E7E7;
}